body {
    margin: 0;
    font-family: $font;
    line-height: 1;
    font-weight: 400;
    color: black;
    font-size: 16px;
    background-color: white;
}

a,
span {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1360px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.3px;
    border-radius: 5px;
    border: none;
    white-space: nowrap;
}