.order-user {
    margin-top: 30px;
    &-header {
        display: flex;
        align-items: center;
        padding: 20px 20px;
        background-color: lightgray;
    }
    &-checkbox {
        min-width: 50px;
        input {
            width: 16px;
            height: 16px;
        }
    }
    &-products {
        width: 45%;
    }
    &-size {
        width: 11%;
        text-align: center;
    }
    &-price {
        width: 11%;
        text-align: center;
    }
    &-quantity {
        width: 11%;
        text-align: center;
    }
    &-amount {
        width: 11%;
        text-align: center;
    }
    &-options {
        width: 11%;
        text-align: center;
    }
    &-list {
        margin-top: 50px;
        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0 10px;
            padding: 20px;
        }
        &-checkbox {
            input {
                width: 16px;
                height: 16px;
            }
        }
        &-header-shop {
            display: flex;
            align-items: center;
            gap: 0 10px;
        }
        &-shop-icon {
            width: 20px;
            height: 20px;
        }
        &-header-status {
            display: flex;
            align-items: center;
            gap: 0 10px;
        }
        &-header-status-icon {
            display: flex;
            align-items: center;
            width: 20px;
            height: 20px;
            svg {
                fill: $sucess-color;
            }
        }
        &-header-status-name {
            font-weight: bold;
            text-transform: uppercase;
            color: $primary-color;
        }
    }
    &-item {
        display: flex;
        align-items: center;
        padding: 20px;
        border: 1px solid #e6e7e8;
    }
    &-item-checkbox {
        min-width: 50px;
        input {
            width: 16px;
            height: 16px;
        }
    }
    &-item-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 15px;
        margin-left: 20px;
    }
    &-item-name {
        font-weight: medium;
        font-size: 17px;
    }
    &-item-image {
        max-width: 120px;
        width: 100%;
        display: flex;
        align-items: center;
        img {
            width: 100%;
        }
    }
    &-total {
        display: flex;
        margin-top: 5px;
        flex-direction: column;
        padding: 20px;
        border: 1px solid #e6e7e8;
    }
    &-total-top {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: end;
        svg {
            display: flex;
            align-items: center;
            width: 20px;
            height: 20px;
        }
    }
    &-total-top-amount {
        font-size: 20px;
        font-weight: bold;
        color: $orange-color;
    }
    &-total-button {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: end;
    }
}

.button {
    &-buy-again {
        padding: 10px;
        font-weight: medium;
        font-size: 16px;
        background-color: $primary-color;
        border: 2px solid $primary-color;
        border-radius: 5px;
        color: white;
    }
    &-contact-shop {
        padding: 10px;
        font-weight: medium;
        font-size: 16px;
        border: 2px solid $primary-color;
        border-radius: 5px;
    }
}