.header {
    max-width: 100%;
    background-color: $header-color;
    &-container {
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }
    &-menu {
        display: flex;
        align-items: center;
        gap: 0 20px;
    }
}

.hero {
    position: relative;
    max-width: 1360px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
    overflow: hidden;
    &-container {
        height: 250px;
    }
    &-shapes {
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &-content-container {
        display: flex;
        height: 100%;
        padding: 10px;
        justify-content: left;
        padding-left: 190px;
        align-items: center;
    }
    &-content {
        max-width: 330px;
    }
    &-heading {
        margin-bottom: 15px;
    }
    &-desc {
        max-width: 297px;
    }
}

.intro {
    overflow: hidden;
    &-container {
        position: relative;
        height: 410px;
    }
    &-shapes {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        display: block;
    }
    &-list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        padding: 0 180px;
    }
    &-item {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &-icon {
            max-width: 85px;
            margin-bottom: 15px;
        }
        &-heading {
            margin-bottom: 15px;
        }
    }
}

.cake {
    &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-item {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-bottom: 1px solid #e6e7e8;
        transition: transform 0.5s ease-in-out;
    }
    &-item:hover {
        background-color: rgb(252, 241, 241);
        img {
            transition: transform 0.5s ease-in-out;
            object-fit: contain;
            transform: scale(1.2);
        }
    }
    &-thumbnail {
        margin-bottom: 30px;
        overflow: hidden;
    }
    &-name {
        margin-bottom: 30px;
    }
    &-price {
        margin-bottom: 10px;
    }
    &-delivery_price {
        margin-bottom: 20px;
    }
    &-button_buy {
        border: 0;
        padding: 10px;
        border-radius: 100rem;
        box-shadow: inset 0 0 0 1px #000;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
        background-color: #fff;
        transition: all 0.3s linear;
    }
    &-button_buy:hover {
        box-shadow: inset 0 0 0 2px #000;
    }
}